In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('quandl1.csv')

print(df.head())

C:\Users\HP PAVILION\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

  ticker        date   open   high    low  close      volume  ex-dividend  \
0      A  1999-11-18  45.50  50.00  40.00  44.00  44739900.0          0.0
1      A  1999-11-19  42.94  43.00  39.81  40.38  10897100.0          0.0
2      A  1999-11-22  41.31  44.00  40.06  44.00   4705200.0          0.0
3      A  1999-11-23  42.50  43.63  40.25  40.25   4274400.0          0.0
4      A  1999-11-24  40.13  41.94  40.00  41.06   3464400.0          0.0

   split_ratio   adj_open   adj_high    adj_low  adj_close  adj_volume
0          1.0  31.041951  34.112034  27.289627  30.018590  44739900.0
1          1.0  29.295415  29.336350  27.160002  27.548879  10897100.0
2          1.0  28.183363  30.018590  27.330562  30.018590   4705200.0
3          1.0  28.995229  29.766161  27.460188  27.460188   4274400.0
4          1.0  27.378319  28.613174  27.289627  28.012803   3464400.0

In [2]:
df.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,31.041951,34.112034,27.289627,30.018590,44739900.0
1,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,29.295415,29.336350,27.160002,27.548879,10897100.0
2,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,28.183363,30.018590,27.330562,30.018590,4705200.0
3,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,28.995229,29.766161,27.460188,27.460188,4274400.0
4,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,27.378319,28.613174,27.289627,28.012803,3464400.0

In [3]:
df = df[['adj_open','adj_high', 'adj_low', 'adj_close','adj_volume']]

In [4]:
df['HL_PCT'] = (df['adj_high'] - df['adj_low']) / df['adj_close'] * 100.0

In [5]:
df['PCT_change'] = (df['adj_close'] - df['adj_open']) / df['adj_open'] * 100.0

In [6]:
df = df[['adj_close', 'HL_PCT', 'PCT_change', 'adj_volume']]
print(df.head())

   adj_close     HL_PCT  PCT_change  adj_volume
0  30.018590  22.727273   -3.296703  44739900.0
1  27.548879   7.899950   -5.961807  10897100.0
2  30.018590   8.954545    6.511740   4705200.0
3  27.460188   8.397516   -5.294118   4274400.0
4  28.012803   4.724793    2.317468   3464400.0

In [7]:
forcast_col = 'adj_close'

In [19]:
df.fillna(-99999,inplace=True)

In [20]:
import math
forcast_out = int(math.ceil(0.1*len(df)))
df.head()

   adj_close     HL_PCT  PCT_change  adj_volume      label
0  30.018590  22.727273   -3.296703  44739900.0  18.331807
1  27.548879   7.899950   -5.961807  10897100.0  18.079378
2  30.018590   8.954545    6.511740   4705200.0  18.154425
3  27.460188   8.397516   -5.294118   4274400.0  18.249938
4  28.012803   4.724793    2.317468   3464400.0  18.945824

In [21]:
df['label'] = df[forcast_col].shift(-forcast_out)

In [31]:
df.head()
df.dropna(inplace=True)

In [23]:
X = np.array(df.drop(['label'], 1))
y = np.array(df['label'])

In [24]:
X = preprocessing.scale(X)

In [25]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y,test_size = 0.2)

In [32]:
clf = LinearRegression()

In [33]:
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [34]:
conf = clf.score(X_train,y_train)

In [35]:
conf

0.11796933089334395